* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* CM */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  color: #fff;
  min-width: 11.8rem;
  display: inline-block;
  padding: 0rem 1.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 99.9rem;
  background: #171100;
  line-height: 5rem;
}

.btn:hover {
  opacity: 0.9;
}

/* HEADER */

.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -2.8rem;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 3.6rem 0 0.8rem;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 0.8rem 2.1rem;
  position: relative;
}

.nav li.active a::after,
.nav a:hover {
  color: #171100;
  text-shadow: 0.1rem 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  display: block;
  left: 2.1rem;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 0.01rem;
  background: #171100;
}

.header .btn-sig-up {
  min-width: 14.4rem;
}

.header .action {
  margin-left: 4.9rem;
}

/* MAIN */

.hero {
  padding: 5.6rem 0 6.5rem;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* HERO LEFT */

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .content-block {
  width: 52%;
}

.hero .media-block .img {
  width: 47rem;
  height: 68.5rem;
  object-fit: cover;
  border-radius: 2rem;
}

.hero .hero-summary {
  padding: 2.4rem;
  width: 27rem;
  position: absolute;
  bottom: 4.8rem;
  right: 0;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
}

.hero-summary .item + .item {
  margin-top: 2.2rem;
}

.hero-summary .icon {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  border-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 1.6rem;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* HERO RIGHT */
.hero .content-block {
  width: 52%;
  padding-left: 13rem;
  padding-top: 6.4rem;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.116rem;
}

.hero .desc {
  margin-top: 2.2rem;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  display: flex;
  margin-top: 3.8rem;
}

.hero-cta {
  min-width: 18rem;
  line-height: 6.4rem;
  background-color: var(--primary-color);
}

.hero .watch-video {
  margin-left: 2.8rem;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: #fff;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  margin-left: 1.4rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .desc-recent {
  margin-top: 4.8rem;
}

.hero .stats {
  margin-top: 0.8rem;
}

.hero .stats strong {
  margin-right: 1.5rem;
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}

.hero .stats strong:nth-child(2) {
  margin-left: 2.8rem;
}
